.page-introuvable {
	.header-subpages {
		margin-bottom: 10em;
	}

	.wrapper {
		p {
			text-align: center;
			font-size: 10em;
			margin-bottom: 0.5em;
			color: $red;
		}
		h3 {
			text-align: center;
			margin-bottom: 1.5em;
		}
		a {
			text-align: center;
			display: block;
			margin: auto;
			width: fit-content;
		}
	}
}
