.page-introuvable {
	.header-subpages {
		margin-bottom: 4em;
	}

	.wrapper {
		img {
			margin-bottom: 2em;
			max-width: 460px;
			margin: auto;
			display: block;
		}
		h3 {
			text-align: center;
			margin-bottom: 1.5em;
		}
		a {
			text-align: center;
			display: block;
			margin: auto;
			width: fit-content;
		}
	}
}
