.connexion {
  /* header {
		background-color: $light-blue;
		@include flex-center;
		height: 20vh;
		color: $white;
		position: relative;
		margin-bottom: 3em;

		img {
			position: absolute;
			opacity: 0.3;
			pointer-events: none;
		}
  } */

  .wrapper {
    form {
      min-width: 200px;
      max-width: 500px;
      margin: auto;

      h3 {
        color: $blue;
        position: relative;
        width: fit-content;
        font-size: 2.5rem;
        margin-bottom: 1em;

        &::after {
          content: '';
          background-color: $blue;
          height: 2px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -5px;
        }
      }

      button {
        border-width: 2px;
        font-size: 1.7rem;
        width: fit-content;
        padding: .5em 1em;
        margin-left: auto;
        border-radius: 5px;
        i {
          padding-left: .7em;
        }
      }
    }
  }
}