.espace-membre {
	header {
		background-color: $light-blue;
		@include flex-center;
		height: 15vh;
		color: $white;
	}

	.tabnav {
		background-color: $blue;
		height: 10vh;
		margin-bottom: 2em;

		ul {
			display: flex;
			height: 100%;
			justify-content: center;
			
			.tabnav__li {
				width: 30vw;
				color: $white;
				font-size: clamp(1.4rem, 2.5vw, 2rem);
				cursor: pointer;
				text-align: center;

				div {
					@include flex-center;
					flex-direction: column;
					height: 100%;

					i {
						margin-bottom: 0.5em;
					}
				}

				&--active {
					color: $blue;
					background-color: $white;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
			}
		}
	}
	main {
		margin-bottom: 2em;

		.actu__content {
			display: none;

			&--active {
				display: flex;
				flex-wrap: wrap;
				width: 90%;
				margin: auto;
				justify-content: space-evenly;
				gap: 1em;

				.card {
					box-shadow: 0px 4px 4px #EFEFEF;
					background-color: #FBFBFB;
					border-radius: 12px;
					max-width: 715px;

					.card__header {
						background-color: #702020;
						border-radius: 12px 12px 0px 0px;
						position: relative;
						@include flex-vertical-center;

						img {
							position: absolute;
							height: 20vw;
							width: 20vw;
							max-width: 130px;
							max-height: 130px;
							left: 1em;
							top: -1em;
							border-radius: 50%;
							border: 2px solid #702020;
						}

						.header__denomination {
							position: relative;
							right: 20%;
							transform: translateX(50%);

							.header__name {
								width: unset;
								color: rgba(255, 255, 255, 0.7);
								font-size: clamp(2.5rem, 5vw, 5rem);
								margin: unset;

								&::after {
									display: none;
								}
							}
							.header__rank {
								font-size: clamp(1.5rem, 3vw, 2rem);
							}
						}
					}

					.card__content {
						padding: 1.5em;

						.group {
							margin-bottom: 1.5em;
							h4 {
								margin-bottom: .3em;
								color: $blue;
							}
						}

						.contact {
							.contact__group {
								display: flex;
								margin-bottom: .5em;
								i {
									margin-right: .5em;
									color: $blue;
									font-size: 2rem;
								}
							}
						}
					}
				}

				figure {
					width: 45%;
          height: 220px;
					max-width: 300px;
					transform: scale(1);
					transition: all 0.2s ease;
					margin-bottom: 3em;
					
					&:hover {
						transform: scale(1.05);
					}

					img {
						zoom: 100%;
						transition: all 0.2s ease;
					}

					figcaption {
						background-color: $blue;
						color: $white;
						font-size: 1.5rem;
						padding: 1em;
						position: relative;
						top: -10px;
						width: 100%;

						div {
							display: flex;
							justify-content: space-between;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 810px) {
	.espace-membre {
		.tabnav {
			ul {
				.tabnav__li {
					div {
						flex-direction: row;

						i {
							margin-bottom: unset;
							margin-right: 0.5em;
						}
					}
				}
			}
		}
	}

	main {
		.actu__content {
			&--active {
				.card {
					.card__content {
						padding-top: 2em;
						display: flex;
						justify-content: space-between;
						.card__left, .card__right {
							width: 45%;
						}
					}
				}
			}
		}
	}
}