.espace-membre {
	header {
		background-color: $light-blue;
		@include flex-center;
		height: 20vh;
		color: $white;
		position: relative;
		margin-bottom: 3em;

		img {
			position: absolute;
			opacity: 0.3;
			pointer-events: none;
		}
	}

  .wrapper  {
    position: relative;

    h3 {
      text-align: center;
      font-size: 2.5rem;
      position: relative;
      width: fit-content;
      margin-bottom: 2em;
      color: $blue;
      margin: 0 auto 2em auto;

      &::after {  
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $blue;
      }
    }

    .membre {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5em;
      margin-bottom: 4em;

      .left {
        border-radius: 50%;

        img {
          border-radius: 50%;
          height: 75px;
          width: 75px;
        }
      }

      .right {
        display: flex;
        flex-direction: column;

        p, .profil { margin-bottom: .5em;}

        .profil {
          background-color: $blue;
          padding: .3em .5em;
          border-radius: 4px;
          width: fit-content;
          transition: all .2s ease;
          border: 1px solid transparent;

          i {
            padding-left: .5em;
            transition: all .2s ease;
          }

          &:hover {
            background-color: $white;
            border-color: $blue;
            color: $blue;

            i {
              color: $blue;
            }
          }
        }

        .deconnexion {
          color: $black;
          i {
            padding-left: .5em;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: .5em;
      justify-content: center;
      max-width: 600px;
      margin: auto;

      li {
        width: 48%;
        @include flex-center;
        
        a {
          background-color: $blue;
          padding: 1em;
          height: 100%;
          width: 100%;
          display: block;
          text-align: center;
          transition: all .2s ease;
          border: 1px solid transparent;

          i {
            display: block;
            text-align: center;
            margin-bottom: .3em;
            transition: all .2s ease;
          }

          &:hover {
            color: $blue;
            background-color: $white;
            border-color: $blue;
          }
        }
      }
    }
  }
}
