.nav {
	position: sticky;
	top: 0;
	background-color: $blue;
	color: $white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 50;
	height: 17vh;
	overflow: hidden;

	&--active {
		overflow: unset;
	}

	.nav__membre {
		display: none;
	}
	.nav__top {
		position: absolute;
		top: 0;
		right: 5%;

		a {
			background-color: $white;
			color: $blue;
			padding: 1em 0.5em;
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
		}

		select {
			background-color: $blue;
			border: none;
			color: $white;
			appearance: none;
			margin-left: 1em;
		}
	}

	.nav__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		overflow-y: hidden;
		height: 100%;

		img {
			all: unset;
			height: 100px;
		}

		.nav__menu {
			.nav__container {
				position: absolute;
				right: 0;
				transform: translateX(100%);
				background-color: $dark-blue;
				z-index: 20;
				width: 100%;
				height: 83vh;
				top: 17vh;
				transition: all .3s ease-in-out;
				.banner-wrapper {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 2em;
					padding: 1em 0;
					background-color: $white;

					.left, .right {
						color: $black;
					}

					.left {
						@include flex-center;
	
						img {
							width: 50px;
							height: 50px;
							border-radius: 50%;
							object-fit: cover;
						}
					}
					.right {
						p {
							span {font-weight: bold;}
						}
						a {
							color: $black;
							font-size: 1.4rem;
							text-decoration: underline;
						}
					}
				}
				//utilisateur non connecté
				ul {
					@include flex-column;
					align-items: center;
					justify-content: space-evenly;
					height: 80%;

					.userNotConnected {
						height: 100%;
					}
	
					li {
						font-size: 2rem;
					}
				}
				&--active {
					transform: translateX(0);
				}
			}
		}

		.nav__burger {
			position: relative;
			transform: translateY(15px);
			cursor: pointer;
			height: 21px;
			width: 30px;

			.line,
			.line::before,
			.line::after {
				width: 30px;
				height: 3px;
				background-color: $white;
				display: block;
				border-radius: 2px;
			}

			.line {
				position: relative;
				transition: all 0.3s ease;

				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					transform: rotate(0) translate(0);
				}

				&::before {
					bottom: -18px;
					transition: all 0.3s ease;
				}

				&::after {
					bottom: -9px;
					transition: all 0.1s ease;
				}
			}
		}
		.active {
			.line {
				transform: rotate(45deg) translateY(10px);
			}
			.line::before {
				transform: rotate(90deg) translate(-18px, 0px);
			}
			.line::after {
				opacity: 0;
			}
		}
	}
}

@media screen and (min-width: 810px) {
	.nav {
		.nav__membre {
			position: absolute;
			top: 0;
			right: calc(5% + 12em);
			z-index: 30;
			display: block;

			.membre {
				display: flex;
				align-items: center;
				background-color: $white;
				padding: 0.5em 1em;
				gap: 0.8em;
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;

				.left {
					img {
						width: 30px;
						height: 30px;
						border-radius: 50%;
					}
				}
				.right {
					display: flex;
					flex-direction: column;

					a {
						font-size: 1.3rem;
						color: $blue;
						span {
							font-weight: bold;
						}
					}
					.deco {
						font-size: 1.3rem;
						text-decoration: underline;
					}
				}
			}
		}

		.nav__wrapper {
			.nav__burger {
				display: none;
			}
			.nav__menu {
				width: 70%;
				position: relative;
				top: 21px;

				.nav__container {
					all: unset;

					ul {
						flex-direction: row;
						align-items: unset;
						
						li {
							font-size: 1.6rem;

							a {
								position: relative;
	
								&:hover::after {
									content: '';
									width: 100%;
									height: 1px;
									display: block;
									background-color: $white;
									position: absolute;
									left: 0;
									bottom: -3px;
								}
							}
						}
					}
				}

				.banner {
					display: none;
				}
			}
		}
	}
}
