@import 'utils';

.nav {
	position: sticky;
	top: 0;
	background-color: $blue;
	color: $white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	z-index: 50;
	overflow-x: hidden;
	
	.nav__top {
		position: absolute;
		top: 0;
		right: 5%;

		a {
			background-color: $white;
			color: $blue;
			padding: 1em 0.5em;
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
		}

		select {
			background-color: $blue;
			border: none;
			color: $white;
			appearance: none;
			margin-left: 1em;
		}
	}

	.nav__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.8em 0;

		img {
			all: unset;
			height: 70px;
		}

		.nav__menu {
			ul {
				position: absolute;
				top: 100%;
				right: 0;
				transform: translateX(100%);
				background-color: $dark-blue;
				z-index: 20;
				height: 90vh;
				@include flex-column;
				align-items: center;
				justify-content: space-evenly;
				width: 100%;
				transition: all 0.3s ease-in-out;

				li {
					font-size: 2rem;
				}
			}
			.active {
				transform: translateX(0);
			}
		}

		.nav__burger {
			position: relative;
			transform: translateY(15px);
			cursor: pointer;
			height: 21px;
			width: 30px;

			.line,
			.line::before,
			.line::after {
				width: 30px;
				height: 3px;
				background-color: $white;
				display: block;
				border-radius: 2px;
			}

			.line {
				position: relative;
				transition: all 0.3s ease;

				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					transform: rotate(0) translate(0);
				}

				&::before {
					bottom: -18px;
					transition: all 0.3s ease;
				}

				&::after {
					bottom: -9px;
					transition: all 0.1s ease;
				}
			}
		}
		.active {
			.line {
				transform: rotate(45deg) translateY(10px);
			}
			.line::before {
				transform: rotate(90deg) translate(-18px, 0px);
			}
			.line::after {
				opacity: 0;
			}
		}
	}
}

.nav--active {
	overflow-x: unset;
}

@media screen and (min-width: 810px) {
	.nav {
		.nav__wrapper {
			.nav__burger {
				display: none;
			}
			.nav__menu {
				width: 70%;
				position: relative;
				top: 8px;
				ul {
					all: unset;
					display: flex;
					justify-content: space-between;
					list-style: none;

					li {
						font-size: 1.6rem;
						a {
							&:hover::after {
								content: '';
								width: 100%;
								height: 1px;
								display: block;
								background-color: $white;
								
							}
						}
					}
				}
			}
		}
	}
}
