$blue: #115d8c;
$red: #983636;
$grey: #D4D4D4;
$white: #fff;
$dark-blue: #0a2e45;
$light-blue: #389FC1;
$black: #131313;

$fs-content: 1.6rem;
$fs-h2: 2.5rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
  font-size: $fs-content;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  color: $white;
  text-decoration: none;
}

h2 {
  font-size: $fs-h2;
  margin-bottom: 1em;
}

.h2-topSection {
  margin-bottom: 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $white;
  }
}