@import 'settings';
// CUSTOM MIXINS 
@mixin animation {
  transition: all .15s ease-in-out;
}

@mixin btn($color1, $color2) {
  padding: .5em 1em;
  cursor: pointer;
  border: 1px solid $color2;
  @include animation;
  color: $color2;
  background-color: $color1;

  &:hover {
    background-color: $color2;
    color: $color1;
    border-color: $color1;
  }
}


//COLOR1 => BG

.btn-red-white {
  @include btn($red, $white);
 }
 
 .btn-white-red {
   @include btn($white, $red);
 }
 
 .btn-blue-white {
   @include btn($blue, $white);
 }
 
 .btn-white-blue {
   @include btn($white, $blue);
 }

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

// CUSTOM CLASSES
.block {
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}