@import 'settings';
// CUSTOM MIXINS 
@mixin animation {
  transition: all .15s ease-in-out;
}

@mixin btn($color1, $color2) {
  padding: .5em 1em;
  cursor: pointer;
  border: 1px solid $color2;
  @include animation;
  color: $color2;
  background-color: $color1;

  &:hover {
    background-color: $color2;
    color: $color1;
    border-color: $color1;
  }
}

.btn-red-white {
  @include btn($red, $white);
 }
 
 .btn-white-red {
   @include btn($white, $red);
 }
 
 .btn-blue-white {
   @include btn($blue, $white);
 }
 
 .btn-white-blue {
   @include btn($white, $blue);
 }

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

// CUSTOM CLASSES
.block {
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form__label {
  color: $blue;
  font-weight: bold;
  margin-bottom: 0.4em;

  i {
    margin-right: .5em;
  }
}

.form__input {
  border: 1px solid $blue;
  padding: 0.3em 0.6em;
  border-radius: 5px;

  &:focus-visible {
    border-color: transparent;
    outline: 2px solid $light-blue;
  }
}

.header-subpages {
  background-color: $light-blue;
  @include flex-center;
  height: 20vh;
  color: $white;
  position: relative;
  margin-bottom: 3em;

  img {
    position: absolute;
    opacity: 0.3;
    pointer-events: none;
  }

  h2 {
    margin: unset;
    position: relative;
  }
}

@media screen and (min-width: 810px) {
  .row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .form__group {
    width: 48%;
  }
}

