* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #131313;
  font-size: 1.6rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.h2-topSection {
  margin-bottom: 0;
  position: relative;
}
.h2-topSection::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fff;
}

p {
  line-height: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #131313;
  font-size: 1.6rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.h2-topSection {
  margin-bottom: 0;
  position: relative;
}
.h2-topSection::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fff;
}

p {
  line-height: 22px;
}

.btn-red-white {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.15s ease-in-out;
  color: #fff;
  background-color: #983636;
}
.btn-red-white:hover {
  background-color: #fff;
  color: #983636;
  border-color: #983636;
}

.btn-white-red {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #983636;
  transition: all 0.15s ease-in-out;
  color: #983636;
  background-color: #fff;
}
.btn-white-red:hover {
  background-color: #983636;
  color: #fff;
  border-color: #fff;
}

.btn-blue-white {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.15s ease-in-out;
  color: #fff;
  background-color: #115d8c;
}
.btn-blue-white:hover {
  background-color: #fff;
  color: #115d8c;
  border-color: #115d8c;
}

.btn-white-blue {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #115d8c;
  transition: all 0.15s ease-in-out;
  color: #115d8c;
  background-color: #fff;
}
.btn-white-blue:hover {
  background-color: #115d8c;
  color: #fff;
  border-color: #fff;
}

.block {
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.form {
  margin: 2em auto;
}
.form h3 {
  color: #115d8c;
  position: relative;
  width: fit-content;
  margin-bottom: 1.5em;
}
.form h3 i {
  margin-right: 0.5em;
}
.form h3::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #115d8c;
  width: 100%;
  height: 2px;
}
.form .form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.form .form__label {
  color: #115d8c;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.form .form__label i {
  margin-right: 0.5em;
}

.form__input {
  border: 1px solid #115d8c;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  background-color: #fff;
}
.form__input:focus-visible {
  border-color: transparent;
  outline: 2px solid #389FC1;
}

.header-subpages {
  background-color: #389FC1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: #fff;
  position: relative;
  margin-bottom: 3em;
}
.header-subpages img {
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
}
.header-subpages h2 {
  margin: unset;
  position: relative;
}

@media screen and (min-width: 810px) {
  .row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
  .row--half {
    flex-direction: column;
    width: 48%;
  }
  .row--half .form__group {
    width: 100%;
  }

  .form__group {
    width: 48%;
  }
}
.nav {
  position: sticky;
  top: 0;
  background-color: #115d8c;
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 50;
  height: 17vh;
  overflow: hidden;
}
.nav--active {
  overflow: unset;
}
.nav .nav__membre {
  display: none;
}
.nav .nav__top {
  position: absolute;
  top: 0;
  right: 5%;
}
.nav .nav__top a {
  background-color: #fff;
  color: #115d8c;
  padding: 1em 0.5em;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.nav .nav__top select {
  background-color: #115d8c;
  border: none;
  color: #fff;
  appearance: none;
  margin-left: 1em;
}
.nav .nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
}
.nav .nav__wrapper img {
  all: unset;
  height: 100px;
}
.nav .nav__wrapper .nav__menu .nav__container {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  background-color: #0a2e45;
  z-index: 20;
  width: 100%;
  height: 83vh;
  top: 17vh;
  transition: all 0.3s ease-in-out;
}
.nav .nav__wrapper .nav__menu .nav__container .banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 1em 0;
  background-color: #fff;
}
.nav .nav__wrapper .nav__menu .nav__container .banner-wrapper .left, .nav .nav__wrapper .nav__menu .nav__container .banner-wrapper .right {
  color: #131313;
}
.nav .nav__wrapper .nav__menu .nav__container .banner-wrapper .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav__wrapper .nav__menu .nav__container .banner-wrapper .left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.nav .nav__wrapper .nav__menu .nav__container .banner-wrapper .right p span {
  font-weight: bold;
}
.nav .nav__wrapper .nav__menu .nav__container .banner-wrapper .right a {
  color: #131313;
  font-size: 1.4rem;
  text-decoration: underline;
}
.nav .nav__wrapper .nav__menu .nav__container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}
.nav .nav__wrapper .nav__menu .nav__container ul .userNotConnected {
  height: 100%;
}
.nav .nav__wrapper .nav__menu .nav__container ul li {
  font-size: 2rem;
}
.nav .nav__wrapper .nav__menu .nav__container--active {
  transform: translateX(0);
}
.nav .nav__wrapper .nav__burger {
  position: relative;
  transform: translateY(15px);
  cursor: pointer;
  height: 21px;
  width: 30px;
}
.nav .nav__wrapper .nav__burger .line,
.nav .nav__wrapper .nav__burger .line::before,
.nav .nav__wrapper .nav__burger .line::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  border-radius: 2px;
}
.nav .nav__wrapper .nav__burger .line {
  position: relative;
  transition: all 0.3s ease;
}
.nav .nav__wrapper .nav__burger .line::before, .nav .nav__wrapper .nav__burger .line::after {
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(0) translate(0);
}
.nav .nav__wrapper .nav__burger .line::before {
  bottom: -18px;
  transition: all 0.3s ease;
}
.nav .nav__wrapper .nav__burger .line::after {
  bottom: -9px;
  transition: all 0.1s ease;
}
.nav .nav__wrapper .active .line {
  transform: rotate(45deg) translateY(10px);
}
.nav .nav__wrapper .active .line::before {
  transform: rotate(90deg) translate(-18px, 0px);
}
.nav .nav__wrapper .active .line::after {
  opacity: 0;
}

@media screen and (min-width: 810px) {
  .nav .nav__membre {
    position: absolute;
    top: 0;
    right: calc(5% + 12em);
    z-index: 30;
    display: block;
  }
  .nav .nav__membre .membre {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0.5em 1em;
    gap: 0.8em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .nav .nav__membre .membre .left img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .nav .nav__membre .membre .right {
    display: flex;
    flex-direction: column;
  }
  .nav .nav__membre .membre .right a {
    font-size: 1.3rem;
    color: #115d8c;
  }
  .nav .nav__membre .membre .right a span {
    font-weight: bold;
  }
  .nav .nav__membre .membre .right .deco {
    font-size: 1.3rem;
    text-decoration: underline;
  }
  .nav .nav__wrapper .nav__burger {
    display: none;
  }
  .nav .nav__wrapper .nav__menu {
    width: 70%;
    position: relative;
    top: 21px;
  }
  .nav .nav__wrapper .nav__menu .nav__container {
    all: unset;
  }
  .nav .nav__wrapper .nav__menu .nav__container ul {
    flex-direction: row;
    align-items: unset;
  }
  .nav .nav__wrapper .nav__menu .nav__container ul li {
    font-size: 1.6rem;
  }
  .nav .nav__wrapper .nav__menu .nav__container ul li a {
    position: relative;
  }
  .nav .nav__wrapper .nav__menu .nav__container ul li a:hover::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
  }
  .nav .nav__wrapper .nav__menu .banner {
    display: none;
  }
}
.footer {
  background-color: #115d8c;
  color: #fff;
}
.footer .footer__wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  text-align: center;
  padding-bottom: 1em;
}
.footer .footer__wrapper .footer__title {
  padding-top: 1em;
  font-size: 2rem;
}
.footer .footer__wrapper .footer__title .block {
  display: inline;
}
.footer .footer__wrapper .footer__adresse {
  margin-bottom: 1em;
}
.footer .footer__wrapper .cta {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1em;
  align-items: center;
}
.footer .footer__wrapper .cta .cta__contact {
  padding: 0.5em 0.8em;
  border-radius: 12px;
}
.footer .footer__wrapper .cta .cta__rs {
  display: flex;
  justify-content: space-between;
  width: 50px;
}
.footer .footer__wrapper .cta .cta__rs i {
  font-size: 2rem;
  color: #fff;
}
.footer .footer__wrapper .footer__mentions {
  font-size: 1.4rem;
}

@media screen and (min-width: 810px) {
  .footer {
    display: flex;
    margin: auto;
    min-height: 100px;
  }
  .footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: unset;
  }
  .footer .footer__wrapper .footer__title {
    text-align: left;
    font-size: 2rem;
    margin: unset;
    padding: unset;
  }
  .footer .footer__wrapper .footer__title .block {
    display: block;
  }
  .footer .footer__wrapper .wrapper-1 {
    order: 2;
  }
  .footer .footer__wrapper .wrapper-1 .cta {
    margin: unset;
    justify-content: space-between;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #131313;
  font-size: 1.6rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.h2-topSection {
  margin-bottom: 0;
  position: relative;
}

.h2-topSection::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fff;
}

p {
  line-height: 22px;
}

.btn-red-white {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.15s ease-in-out;
  color: #fff;
  background-color: #983636;
}

.btn-red-white:hover {
  background-color: #fff;
  color: #983636;
  border-color: #983636;
}

.btn-white-red {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #983636;
  transition: all 0.15s ease-in-out;
  color: #983636;
  background-color: #fff;
}

.btn-white-red:hover {
  background-color: #983636;
  color: #fff;
  border-color: #fff;
}

.btn-blue-white {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.15s ease-in-out;
  color: #fff;
  background-color: #115d8c;
}

.btn-blue-white:hover {
  background-color: #fff;
  color: #115d8c;
  border-color: #115d8c;
}

.btn-white-blue {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #115d8c;
  transition: all 0.15s ease-in-out;
  color: #115d8c;
  background-color: #fff;
}

.btn-white-blue:hover {
  background-color: #115d8c;
  color: #fff;
  border-color: #fff;
}

.block {
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.form {
  margin: 2em auto;
}

.form h3 {
  color: #115d8c;
  position: relative;
  width: fit-content;
  margin-bottom: 1.5em;
}

.form h3 i {
  margin-right: 0.5em;
}

.form h3::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #115d8c;
  width: 100%;
  height: 2px;
}

.form .form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form .form__label {
  color: #115d8c;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.form .form__label i {
  margin-right: 0.5em;
}

.form__input {
  border: 1px solid #115d8c;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  background-color: #fff;
}

.form__input:focus-visible {
  border-color: transparent;
  outline: 2px solid #389FC1;
}

.header-subpages {
  background-color: #389FC1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: #fff;
  position: relative;
  margin-bottom: 3em;
}

.header-subpages img {
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
}

.header-subpages h2 {
  margin: unset;
  position: relative;
}

@media screen and (min-width: 810px) {
  .row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .row--half {
    flex-direction: column;
    width: 48%;
  }

  .row--half .form__group {
    width: 100%;
  }

  .form__group {
    width: 48%;
  }
}
.body--active {
  overflow-y: hidden;
}

.header {
  position: relative;
  height: 50vh;
}
.header .header__left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 93, 140, 0.85);
  color: #fff;
  padding: 2em;
  width: 60%;
}
.header .header__left .header__title {
  text-align: center;
  font-size: 2.5rem;
}
.header .header__right {
  height: 100%;
  overflow: hidden;
}
.header .header__right img {
  width: 101%;
}

.presentation {
  position: relative;
  height: 60vh;
}
.presentation img {
  position: absolute;
  opacity: 0.05;
  z-index: -10;
}
.presentation .presentation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.presentation .presentation__wrapper .presentation__title {
  text-align: center;
  color: #983636;
  font-size: 2.5rem;
}
.presentation .presentation__wrapper .presentation__content {
  margin-bottom: 2em;
}
.presentation .presentation__wrapper .presentation__content .block {
  margin-bottom: 0.5em;
}
.presentation .presentation__wrapper .btn-red-white {
  border-color: transparent;
}
.presentation .presentation__wrapper .btn-red-white:hover {
  background-color: transparent;
  border-color: #983636;
}

.last-projects {
  background-color: #983636;
}
.last-projects .last-projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.last-projects .last-projects-wrapper .last-projects__title {
  text-align: center;
  padding-top: 2em;
  color: #fff;
}
.last-projects .last-projects-wrapper .wrapper {
  padding: 0.3em;
  border: 2px solid #fff;
  width: fit-content;
  margin: 0 auto 2em auto;
  border-radius: 3px;
}
.last-projects .last-projects-wrapper .wrapper i {
  color: #fff;
  margin-right: 0.3em;
}
.last-projects .last-projects-wrapper .last-projects__projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.last-projects .last-projects-wrapper .last-projects__projects .project {
  width: 70%;
  max-width: 300px;
  margin: 0 auto 1em auto;
}
.last-projects .last-projects-wrapper .last-projects__projects .project figure img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.last-projects .last-projects-wrapper .last-projects__projects .project figure figcaption {
  background-color: #fff;
  color: #131313;
  position: relative;
  top: -5px;
  padding: 1em;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
}
.last-projects .last-projects-wrapper button {
  margin-bottom: 2em;
}

@media screen and (min-width: 810px) {
  .header {
    position: unset;
    display: flex;
    height: 50vh;
  }
  .header .header__left {
    all: unset;
    width: 50%;
    background-color: #115d8c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__left .header__title {
    color: #fff;
    text-align: left;
    font-size: 4rem;
  }
  .header .header__right {
    width: 50%;
    height: 100%;
  }
  .header .header__right img {
    height: 100%;
  }

  .presentation {
    height: 60vh;
  }
  .presentation img {
    opacity: 1;
  }
  .presentation .presentation__wrapper .content-wrapper {
    background-color: rgba(240, 240, 240, 0.93);
    border-radius: 5px;
    padding: 1em 2em;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.83);
    max-width: 700px;
    margin: auto;
  }
  .presentation .presentation__wrapper .content-wrapper .presentation__title {
    text-align: left;
  }
  .presentation .presentation__wrapper .content-wrapper .presentation__button {
    margin: 0 0 0 auto;
  }
}
.actu .header-subpages {
  margin: unset;
}
.actu .tabnav {
  background-color: #115d8c;
  height: 10vh;
  margin-bottom: 2em;
}
.actu .tabnav ul {
  display: flex;
  height: 100%;
  justify-content: center;
}
.actu .tabnav ul .tabnav__li {
  width: 30vw;
  color: #fff;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  cursor: pointer;
}
.actu .tabnav ul .tabnav__li div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.actu .tabnav ul .tabnav__li div i {
  margin-bottom: 0.5em;
}
.actu .tabnav ul .tabnav__li--active {
  color: #115d8c;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.actu main {
  margin-bottom: 2em;
}
.actu main .actu__content {
  display: none;
}
.actu main .actu__content--active {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  gap: 1em;
}
.actu main .actu__content--active figure {
  width: 45%;
  height: 220px;
  max-width: 300px;
  transform: scale(1);
  transition: all 0.2s ease;
  margin-bottom: 3em;
}
.actu main .actu__content--active figure:hover {
  transform: scale(1.05);
}
.actu main .actu__content--active figure img {
  zoom: 100%;
  transition: all 0.2s ease;
}
.actu main .actu__content--active figure figcaption {
  background-color: #115d8c;
  color: #fff;
  font-size: 1.5rem;
  padding: 1em;
  position: relative;
  top: -10px;
  width: 100%;
}
.actu main .actu__content--active figure figcaption div {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 810px) {
  .actu .tabnav ul .tabnav__li div {
    flex-direction: row;
  }
  .actu .tabnav ul .tabnav__li div i {
    margin-bottom: unset;
    margin-right: 0.5em;
  }
}
.single .single__content {
  padding: 1em;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto 3em auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.single .single__content .content__left h2 {
  margin-bottom: 1em;
  color: #983636;
  font-size: 2.2rem;
}
.single .single__content .content__left img {
  border-radius: 10px;
  max-height: 170px;
}
.single .single__content .content__left .content__state {
  margin-bottom: 1em;
  font-weight: 600;
}
.single .single__content .content__left .content__state .aVenir,
.single .single__content .content__left .content__state .termine,
.single .single__content .content__left .content__state .enCours {
  font-weight: 400;
}
.single .single__content .content__left .content__state .aVenir {
  color: #115d8c;
}
.single .single__content .content__left .content__state .termine {
  color: #131313;
}
.single .single__content .content__left .content__state .enCours {
  color: #389FC1;
}
.single .single__content .content__right .content__text {
  line-height: 24px;
}
.single .single__nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3em;
}
.single .single__nav a {
  background-color: #115d8c;
  padding: 1em;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}
.single .single__nav a .fa-angle-left {
  margin-right: 10px;
}
.single .single__nav a .fa-angle-right {
  margin-left: 10px;
}
.single .single__nav a:hover {
  background-color: #0d4263;
}
.single .single__nav a:focus {
  background-color: #197dbb;
}

@media screen and (min-width: 810px) {
  .single .single__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
  }
  .single .single__content .content__left, .single .single__content .content__right {
    width: 45%;
  }
  .single .single__content .content__left {
    display: flex;
    flex-direction: column;
  }
  .single .single__content .content__left .content__title {
    order: 1;
    flex-grow: 1;
  }
  .single .single__content .content__left .content__state {
    order: 2;
    flex-grow: 1;
  }
  .single .single__content .content__left img {
    order: 3;
    flex-grow: 2;
    max-height: unset;
  }
  .single .single__nav a {
    text-align: center;
    width: 200px;
  }
}
.club .club__header {
  display: flex;
}
.club h2 {
  position: relative;
  width: fit-content;
  margin: 0 auto 2em auto;
}
.club h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 35%;
  height: 2px;
  background-color: #983636;
  left: 50%;
  transform: translateX(-50%);
}
.club .club__header {
  position: relative;
  height: 60vh;
  margin-bottom: 3em;
}
.club .club__header .header__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.2;
}
.club .club__header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.club .club__header .container .header__title {
  margin-bottom: 2em;
  text-align: center;
}
.club .historique {
  margin-bottom: 2em;
}
.club .historique .wrapper h2 {
  text-align: center;
}
.club .historique .wrapper .container .historique__bg {
  max-width: 600px;
  margin: 0 auto 2em auto;
  display: block;
}
.club .historique .wrapper .container .historique__content {
  margin-bottom: 1em;
}
.club .ca {
  background-color: #983636;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.club .ca .ca__title {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}
.club .ca .ca__title::after {
  background-color: #fff;
}
.club .ca .cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}
.club .ca .cards__wrapper .card {
  border-radius: 20px;
  width: 45%;
  min-height: 170px;
  max-width: 365px;
  margin-bottom: 70px;
}
.club .ca .cards__wrapper .card .card__header {
  background-color: #fff;
  height: 35%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.club .ca .cards__wrapper .card .card__content {
  background: linear-gradient(180deg, rgba(52, 11, 11, 0) 0%, #711A1A 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  height: 100%;
}
.club .ca .cards__wrapper .card .card__content img {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 25%);
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 6px solid #fff;
}
.club .ca .cards__wrapper .card .card__content .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1.5em;
}
.club .ca .cards__wrapper .card .card__content .wrapper .card__name, .club .ca .cards__wrapper .card .card__content .wrapper .card__description {
  color: #fff;
  text-align: center;
}
.club .ca .cards__wrapper .card .card__content .wrapper .card__name {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}
.club .enjeux {
  margin-bottom: 2em;
}
.club .enjeux h2 {
  text-align: center;
}
.club .enjeux .single h3 {
  margin-bottom: 1em;
}
.club .enjeux .single p {
  margin-bottom: 1em;
}
.club .enjeux .single img {
  max-height: 470px;
  max-width: 570px;
  display: block;
  margin: 0 auto 1em auto;
}

@media screen and (min-width: 810px) {
  .club .club__header {
    display: flex;
    align-items: center;
  }
  .club .club__header .header__img {
    opacity: unset;
  }
  .club .club__header .wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .club .club__header .wrapper .container {
    color: #131313;
    background-color: #fff;
    height: unset;
    width: 50%;
    margin: unset;
    padding: 2em;
  }
  .club .club__header .wrapper .container .header__title {
    margin-bottom: 1em;
  }
  .club .enjeux .single {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    align-items: center;
  }
  .club .enjeux .single img, .club .enjeux .single .container {
    width: 45%;
  }
  .club .enjeux .single .container h3 {
    margin-bottom: 0.6em;
  }
  .club .enjeux .single:last-child img {
    order: 2;
  }
}
@media screen and (min-width: 1024px) {
  .club .historique .container {
    display: flex;
    gap: 2em;
    align-items: center;
  }
  .club .historique .container .historique__bg {
    order: 2;
  }
  .club .historique .container .content-wrapper {
    width: 90%;
  }
}
.contact .contact__wrapper {
  margin-bottom: 3em;
}
.contact .contact__wrapper .contact__left,
.contact .contact__wrapper .contact__right {
  margin-bottom: 2em;
}
.contact .contact__wrapper .contact__left h3,
.contact .contact__wrapper .contact__right h3 {
  text-align: center;
  color: #983636;
  margin-bottom: 1em;
}
.contact .contact__wrapper .contact__left p {
  margin-bottom: 1em;
}
.contact .contact__wrapper .contact__left p:nth-last-child(2) {
  margin-bottom: 3em;
}
.contact .contact__wrapper .contact__left a {
  padding: 0.5em 1em;
}
.contact .contact__wrapper .contact__right .right__coordonnees {
  margin-bottom: 1em;
  color: #983636;
}
.contact .contact__wrapper .contact__right .right__coordonnees p {
  margin-bottom: 0.6em;
}
.contact .contact__wrapper .contact__right .right__coordonnees i {
  margin-right: 0.5em;
}
.contact .contact__wrapper .contact__right iframe {
  margin: auto;
  display: block;
  height: 44vw;
  width: 100%;
  max-height: 300px;
}
.contact .form {
  margin-bottom: 2em;
}
.contact .form .wrapper {
  background-color: #115d8c;
  color: #fff;
  padding: 1em;
  position: relative;
}
.contact .form .wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.contact .form .wrapper h3 {
  margin-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}
.contact .form .wrapper form {
  width: 90%;
  margin: auto;
  position: relative;
}
.contact .form .wrapper form h4 {
  margin-bottom: 0.7em;
  font-size: 2rem;
  position: relative;
}
.contact .form .wrapper form h4::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.contact .form .wrapper form .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.contact .form .wrapper form .row .form__group {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.contact .form .wrapper form .row .form__group .input {
  border: transparent;
  padding: 0.5em;
  border-radius: 5px;
}
.contact .form .wrapper form .row .form__group--radio {
  width: 30%;
}
.contact .form .wrapper form .row--radio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.contact .form .wrapper form .row--radio label, .contact .form .wrapper form .row--radio p {
  margin-right: 0.3em;
}
.contact .form .wrapper form .row--radio .form__group--radio:not(:last-child) {
  margin-right: 1.5em;
}
.contact .form .wrapper form .row--file {
  display: flex;
  flex-wrap: wrap;
}
.contact .form .wrapper form .row--file .form__group--file {
  all: unset;
  display: block;
  margin-bottom: 0.6em;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .container {
  position: relative;
  width: 100%;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .container .cross {
  position: absolute;
  top: 50%;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-50%);
  font-size: 2.5rem;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 0.1em 0.7em;
  z-index: 10;
  background-color: #115d8c;
  opacity: 0.7;
  transition: all 0.2s ease;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .container .cross:hover {
  background-color: #983636;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .container .labelfile {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  z-index: 5;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .container .labelfile i {
  padding-right: 0.2em;
  color: #fff;
  transition: all 0.2s ease;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .container .labelfile:hover {
  background-color: #e6e6e6;
  color: #115d8c;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .container .labelfile:hover i {
  color: #115d8c;
}
.contact .form .wrapper form .row--file .form__group--file .labelOutput .output {
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 1em;
}
.contact .form .wrapper form .row--file .form__group--file .inputfile {
  position: absolute;
  top: 0;
  opacity: 0;
}
.contact .form .wrapper form p {
  margin-bottom: 1em;
}
.contact .form .wrapper form button {
  padding: 0.5em 1em;
  font-size: 1.9rem;
  border-radius: 5px;
  border: 2px solid transparent;
}
.contact .form .wrapper form button i {
  padding-left: 1em;
  transition: all 0.2s ease;
}
.contact .form .wrapper form button:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.contact .form .wrapper form button:hover i {
  color: #fff;
}

@media screen and (min-width: 810px) {
  .contact .contact__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .contact .contact__wrapper .contact__left,
.contact .contact__wrapper .contact__right {
    width: 48%;
  }
  .contact .contact__wrapper .contact__left h3,
.contact .contact__wrapper .contact__right h3 {
    text-align: left;
  }
}
@media screen and (min-width: 524px) {
  .contact .form .wrapper form .row .form__group--file .labelOutput {
    justify-content: space-between;
  }
  .contact .form .wrapper form .row .form__group--file .labelOutput .container {
    width: 48%;
  }
  .contact .form .wrapper form .row .form__group--file .labelOutput .output {
    width: 48%;
  }
  .contact .form .wrapper form .output {
    margin: unset;
  }
}
.connexion {
  /* header {
  background-color: $light-blue;
  @include flex-center;
  height: 20vh;
  color: $white;
  position: relative;
  margin-bottom: 3em;

  img {
  	position: absolute;
  	opacity: 0.3;
  	pointer-events: none;
  }
  } */
}
.connexion .wrapper form {
  min-width: 200px;
  max-width: 500px;
  margin: auto;
}
.connexion .wrapper form h3 {
  color: #115d8c;
  position: relative;
  width: fit-content;
  font-size: 2.5rem;
  margin-bottom: 1em;
}
.connexion .wrapper form h3::after {
  content: "";
  background-color: #115d8c;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.connexion .wrapper form button {
  border-width: 2px;
  font-size: 1.7rem;
  width: fit-content;
  padding: 0.5em 1em;
  margin-left: auto;
  border-radius: 5px;
}
.connexion .wrapper form button i {
  padding-left: 0.7em;
}

.espace-membre header {
  margin: unset;
}
.espace-membre .tabnav {
  background-color: #115d8c;
  height: 10vh;
  margin-bottom: 3em;
}
.espace-membre .tabnav ul {
  display: flex;
  height: 100%;
  justify-content: center;
}
.espace-membre .tabnav ul .tabnav__li {
  width: 30vw;
  color: #fff;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  cursor: pointer;
  text-align: center;
}
.espace-membre .tabnav ul .tabnav__li div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.espace-membre .tabnav ul .tabnav__li div i {
  margin-bottom: 0.5em;
}
.espace-membre .tabnav ul .tabnav__li--active {
  color: #115d8c;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.espace-membre main {
  margin-bottom: 2em;
}
.espace-membre main .actu__content {
  display: none;
}
.espace-membre main .actu__content--active {
  display: block;
}
.espace-membre main .actu__content--active .wrapper-content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  gap: 1em;
  padding-top: 3em;
}
.espace-membre main .actu__content--active .btn-blue-white {
  width: fit-content;
  display: block;
  margin: auto;
  padding: 0.5em 1.5em;
}
.espace-membre main .actu__content--active .btn-blue-white i {
  margin-right: 0.5em;
}
.espace-membre main .actu__content--active .card {
  box-shadow: 0px 0px 21px 5px #EFEFEF;
  background-color: #FBFBFB;
  border-radius: 12px;
  max-width: 715px;
  margin: auto;
}
.espace-membre main .actu__content--active .card .card__header {
  background-color: #702020;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  display: flex;
  align-items: center;
}
.espace-membre main .actu__content--active .card .card__header img {
  position: absolute;
  height: 20vw;
  width: 20vw;
  max-width: 130px;
  max-height: 130px;
  left: 1em;
  top: -1em;
  border-radius: 50%;
  border: 2px solid #702020;
}
.espace-membre main .actu__content--active .card .card__header .header__denomination {
  position: relative;
  left: 30%;
  padding: 0.5em 0;
}
.espace-membre main .actu__content--active .card .card__header .header__denomination .header__name {
  width: unset;
  color: rgba(255, 255, 255, 0.5);
  font-size: clamp(2.5rem, 5vw, 5rem);
  margin: unset;
}
.espace-membre main .actu__content--active .card .card__header .header__denomination .header__name::after {
  display: none;
}
.espace-membre main .actu__content--active .card .card__header .header__denomination .header__rank {
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: #fff;
}
.espace-membre main .actu__content--active .card .card__content {
  padding: 8% 1.5em 1.5em 1.5em;
}
.espace-membre main .actu__content--active .card .card__content .group {
  margin-bottom: 1.5em;
}
.espace-membre main .actu__content--active .card .card__content .group h4 {
  margin-bottom: 0.3em;
  color: #115d8c;
}
.espace-membre main .actu__content--active .card .card__content .contact .contact__group {
  display: flex;
  margin-bottom: 0.5em;
}
.espace-membre main .actu__content--active .card .card__content .contact .contact__group i {
  margin-right: 0.5em;
  color: #115d8c;
  font-size: 2rem;
}
.espace-membre main .actu__content--active .card .card__content .btn-edit {
  color: white;
  background-color: #CD973A;
  padding: 0.5em 0.8em;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  width: fit-content;
  transition: all 0.15s ease;
}
.espace-membre main .actu__content--active .card .card__content .btn-edit i {
  margin-right: 0.7em;
}
.espace-membre main .actu__content--active .card .card__content .btn-edit:hover, .espace-membre main .actu__content--active .card .card__content .btn-edit:focus-visible {
  background-color: #f4b23f;
}
.espace-membre main .actu__content--active figure {
  width: 45%;
  height: 220px;
  max-width: 300px;
  transform: scale(1);
  transition: all 0.2s ease;
  margin-bottom: 3em;
}
.espace-membre main .actu__content--active figure:hover {
  transform: scale(1.05);
}
.espace-membre main .actu__content--active figure img {
  zoom: 100%;
  transition: all 0.2s ease;
}
.espace-membre main .actu__content--active figure figcaption {
  background-color: #115d8c;
  color: #fff;
  font-size: 1.5rem;
  padding: 1em;
  position: relative;
  top: -10px;
  width: 100%;
}
.espace-membre main .actu__content--active figure figcaption div {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 810px) {
  .espace-membre .tabnav ul .tabnav__li div {
    flex-direction: row;
  }
  .espace-membre .tabnav ul .tabnav__li div i {
    margin-bottom: unset;
    margin-right: 0.5em;
  }

  main .actu__content--active .card .card__content {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
  }
  main .actu__content--active .card .card__content .card__left, main .actu__content--active .card .card__content .card__right {
    width: 45%;
  }
}
.form-profil .wrapper {
  flex-wrap: unset;
  flex-direction: column;
}
.form-profil .wrapper .profil-pic {
  color: transparent;
  box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  width: fit-content;
  margin: auto;
}
.form-profil .wrapper .profil-pic .profil-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.form-profil .wrapper .profil-pic img {
  position: absolute;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
}
.form-profil .wrapper .profil-pic:hover .profil-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.form-profil .wrapper .profil-pic span {
  font-size: 1.4rem;
  padding: 0.2em;
  height: 0.2em;
}
.form-profil .wrapper .profil-pic span i {
  margin-right: 0.25em;
}
.form-profil .wrapper .indication {
  font-size: 1.3rem;
  padding-top: 1em;
  font-style: italic;
  color: lightgrey;
  text-align: center;
  margin-bottom: 1em;
}
.form-profil .wrapper .picture-input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  background: transparent;
  border: none;
  z-index: -10;
}
.form-profil .wrapper button {
  padding: 0.5em 1em;
  border-radius: 5px;
}

@media screen and (min-width: 810px) {
  .form-profil .wrapper .profil-pic {
    width: fit-content;
    margin: auto;
  }
}
@media screen and (min-width: 810px) {
  .form .wrapper .form__group--textarea {
    width: 100%;
  }
}
.trombinoscope {
  margin-bottom: 3em;
}
.trombinoscope .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 930px;
}
.trombinoscope .wrapper .card {
  width: 32%;
  min-width: 200px;
  max-width: 290px;
  gap: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
  transform: scale(1);
  filter: grayscale(0);
  transition: all 0.1s ease-in-out;
}
.trombinoscope .wrapper .card:hover {
  filter: grayscale(80%);
  transform: scale(1.05);
}
.trombinoscope .wrapper .card .card__header img {
  height: 250px;
}
.trombinoscope .wrapper .card .card__body {
  padding: 1em 0.5em;
}
.trombinoscope .wrapper .card .card__body .card__name {
  color: #a5a5a5;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.trombinoscope .wrapper .card .card__body .card__rank {
  text-transform: capitalize;
  color: #131313;
  font-size: 2rem;
}

@media screen and (max-width: 450px) {
  .trombinoscope .wrapper .card {
    width: 100%;
  }
}
.single .wrapper .single__content .content__left .content__infos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #115d8c;
  margin-bottom: 1em;
  order: 2;
}
.single .wrapper .single__content .content__left .content__infos a {
  color: #115d8c;
  text-decoration: underline;
}
.single .wrapper .single__content .content__left .content__infos span i {
  margin-right: 0.5em;
}
.single .wrapper .single__content .content__left .crud {
  display: flex;
  order: 2;
  gap: 1em;
  margin-bottom: 1em;
}
.single .wrapper .single__content .content__left .crud .btn {
  width: fit-content;
  min-width: 100px;
  border: 1px solid transparent;
  color: #fff;
  padding: 0.5em 1em;
  display: flex;
  align-items: last baseline;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.15s ease;
  border-radius: 30px;
}
.single .wrapper .single__content .content__left .crud .btn i {
  margin-right: 0.5em;
}
.single .wrapper .single__content .content__left .crud .btn--edit {
  background-color: #d79419;
}
.single .wrapper .single__content .content__left .crud .btn--edit:hover, .single .wrapper .single__content .content__left .crud .btn--edit:focus-visible {
  background-color: #fca503;
}
.single .wrapper .single__content .content__left .crud .btn--delete {
  background-color: #ba1212;
}
.single .wrapper .single__content .content__left .crud .btn--delete:hover, .single .wrapper .single__content .content__left .crud .btn--delete:focus-visible {
  background-color: #d33e3e;
}

.single .wrapper .single__content .content__left .btn {
  width: fit-content;
  min-width: 100px;
  border: 1px solid transparent;
  color: #fff !important;
  padding: 0.5em 1em;
  display: flex;
  align-items: last baseline;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.15s ease;
  border-radius: 30px;
}
.single .wrapper .single__content .content__left .btn--download {
  text-decoration: none !important;
  color: #fff;
  background-color: #115d8c;
}
.single .wrapper .single__content .content__left .btn--download:hover, .single .wrapper .single__content .content__left .btn--download:focus-visible {
  background-color: #1472ac;
}

/*# sourceMappingURL=styles.css.map */
